*{
    background-color: #ede9dc;
    color: #2f2f3b;
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    width:500px;
    margin: 0 auto;
    font-size: 13px;
}

h1{
    text-decoration-line: underline;
    margin-bottom: 5px;
    
}

h2{
    text-decoration-line: underline;
}

h1, img, h2, p, h3, ul, ol{
    margin-bottom: 8px; 
 }

 ul{
    list-style-type: circle;
 }

 h4{
    text-align: center;
 }