*{
    background-color: #ede9dc;
    color: #2f2f3b;
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    max-width: 500px;
    margin: 0 auto;
    font-size: 13px;
}

h4{
    text-align: center;
}

h1, h2{
    text-decoration-line: underline;
}

ul{
    list-style: circle;
}


h1, img, h2, p, h3, ul, ol{
    margin-bottom: 8px; 
 }